<section class="vh-100 bg-dark" id="signIp">

  <div class="container">


    <div class="form w-50 m-auto">

      <div class="row">

        <form [formGroup]="signin" (ngSubmit)="formData()">

          <div class="col-md-12">
            <h1 class="text-white text-center  mx-auto p-2 my-4">Login Form</h1>
          </div>

          <div class="my-4">
            <input [class.is-valid]="signin.get('email')?.status=='VALID'" class="form-control mt-4" placeholder="Enter Email" formControlName="email" type="text" name="" id="">
            <div *ngIf="signin.get('email')?.errors && signin.get('email')?.touched" class="text-danger">
              <p *ngIf="signin.get('email')?.errors?.['required']">Email is Required</p>
              <p *ngIf="signin.get('email')?.errors?.['email']">Email is Invalid</p>
            </div>
          </div>

          <div class="my-4">
            <input [class.is-valid]="signin.get('password')?.status=='VALID'" type="password" placeholder="Enter Password" formControlName="password" class="form-control ">
            <div *ngIf="signin.get('password')?.errors && signin.get('password')?.touched" class="text-danger">
              <p *ngIf="signin.get('password')?.errors?.['required']">Password Is Required</p>
              <p *ngIf="signin.get('password')?.errors?.['pattern']">Password Is Invalid</p>
            </div>
          </div>

          <button class="btn btn-success w-100 my-1" [disabled]="signin.invalid" [ngStyle]="signin.invalid? isStyleInvalid:isStylevalid">Sign In</button>

        </form>


      </div>

    </div>

  </div>

</section>
